<html>
	<head>
		<title>
				Remove Player
		</title>
		 <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
		<link href="static/css/signin.css" rel="stylesheet">
	</head>
	<body>
		<div>
			<h3>
			<p align= "center">
				Your Remaining Budget : {{ curr_user.budget}}
			</p>
			</h3>

		</div>
		<div>
		<br><br>
		
		<form action="/team_remove_submit" method="POST" >
		<p align="center">
			<select class="selectpicker" name="player_name">
				<optgroup label ="______">
	  				{% for player in players %}
			 		<option value= 
			 		'{{ player.name}}'>
			 		{{ player.name }} {{ player.value }} </option>
					{% endfor %}					
					
					</optgroup>
		</select>
		</p>
		<br><br>
		<p align="center">
			<button class="btn btn-lg btn-primary" type="submit">Remove Player</button>
		</p>
		</form>
		
				<br>
		<p align="center">
		<a href="/" class="btn btn-primary" > Home</a>
		</p>

		</div>
	</body>
	<script src="static/js/bootstrap.js"></script>
</html>
